<section id="about-me">
  <div class="container">
    <div class="about-me-container">
      <h2 class="visually-hidden">About me</h2>
      <div class="first-section">
        <p class="about-me-text">
          I work with people all over the world to create impressive and
          <span class="green-text">functional</span>
          <span class="gray-text">websites</span> that reflect each client's
          unique personality.
        </p>
        <picture>
          <source
            srcset="
              ./images/default-dekstop/about-me.jpg 1x,
              ./images/dekstop@2x/about-me@2x.jpg   2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/default-tablet/about-me.jpg 1x,
              ./images/tablet@2x/about-me@2x.jpg   2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/default-mobile/about-me.jpg 1x,
              ./images/mobile@2x/about-me@2x.jpg   2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="about-me-img"
            src="./images/default-mobile/about-me.jpg"
            alt="Man with laptop"
          />
        </picture>
      </div>

      <div class="accordion-container" id="accordion-container">
        <div class="ac" id="accordion1">
          <div class="acc-title" id="acc-title1">
            <h2 class="ac-header">About me</h2>
            <button
              type="button"
              class="ac-trigger acc-btn"
              id="acc-btn"
            ></button>
          </div>
          <ul class="ac-panel">
            <li class="ac-text" id="acc-text-first">
              I am Lloyd Jefferson, a talented programmer with extensive
              expertise in software development. I have an understanding of
              different programming languages and technologies, always ready to
              improve my skills. I always follow the latest trends and look for
              unconventional, creative solutions to problems. I have a high
              level of analytical skills and am able to effectively solve even
              the most difficult tasks encountered on the way.
            </li>
            <li class="ac-text" id="acc-text1">
              Able to work both independently and in a team. I can effectively
              cooperate with colleagues, exchanging ideas and finding optimal
              solutions. Professional maturity allows you to calmly cope with
              challenges and stressful situations, while maintaining a high
              quality of work.I am always looking for opportunities for
              self-improvement. I actively study new technologies and practices
              to stay abreast of the latest innovations. I have a strong
              understanding of various programming languages, frameworks and
              architectural concepts that allow me to create efficient and
              scalable software.
            </li>
          </ul>
        </div>

        <div class="ac" id="accordion2">
          <div class="acc-title" id="acc-title2">
            <h2 class="ac-header">Role</h2>
            <button
              type="button"
              class="ac-trigger acc-btn"
              id="acc-btn2"
            ></button>
          </div>
          <ul class="ac-panel">
            <li class="ac-text" id="acc-text2-1">Frontend development</li>
            <li class="ac-text" id="acc-text2-2">HeadlessCMS,Wordpress</li>
            <li class="ac-text" id="acc-text2-3">Blender(enjoy)</li>
          </ul>
        </div>

        <div class="ac" id="accordion3">
          <div class="acc-title" id="acc-title3">
            <h2 class="ac-header">Education</h2>
            <button
              type="button"
              class="ac-trigger acc-btn"
              id="acc-btn3"
            ></button>
          </div>
          <ul class="ac-panel">
            <li class="ac-text" id="acc-text3-1">
              2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
              York
            </li>
            <li class="ac-text" id="acc-text3-2">
              2019 - 2020 / Advanced Web Development Certificate, GoIT IT
              School, New York
            </li>
            <li class="ac-text" id="acc-text3-3">
              2020 - 2022 / Advanced Blender Animation Techniques, Udemy
            </li>
          </ul>
        </div>
      </div>
      <div class="swipe">
        <div class="technologies swiper-container">
          <ul class="technologies-list swiper-wrapper">
            <li class="technologies-item swiper-slide">HTML/CSS</li>
            <li class="technologies-item swiper-slide">JavaScript</li>
            <li class="technologies-item swiper-slide">React</li>
            <li class="technologies-item swiper-slide">Node.js</li>
            <li class="technologies-item swiper-slide">React Native</li>
            <li class="technologies-item swiper-slide">Soft skills</li>
            <li class="technologies-item swiper-slide">HTML/CSS</li>
            <li class="technologies-item swiper-slide">JavaScript</li>
            <li class="technologies-item swiper-slide">React</li>
            <li class="technologies-item swiper-slide">Node.js</li>
            <li class="technologies-item swiper-slide">React Native</li>
            <li class="technologies-item swiper-slide">Soft skills</li>
          </ul>
        </div>
        <button class="button-next">
          <svg class="arrow-right">
            <use href="./images/icons/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script type="module" src="./js/about-me.js"></script>

  <script type="module" src="./js/about-me.js"></script>
</section>
