<section>
    <section>
    <div class="container">
    <div class="about-me-container">
    <h2 class="visually-hidden">About me</h2>
    <div class="first-section">
      <p class="about-me-text">
        I work with people all over the world to create impressive and
        <span class="green-text">functional</span>
        <span class="gray-text">websites</span> that reflect each client's
        unique personality.
      </p>
      <img 
      class="about-me-img" 
       srcset="
        ./images/default-mobile/about-me.png 343w,
        ./images/default-tablet/about-me.png  704w,
        ./images/default-dekstop/about-me.png  680w,
        ./images/mobile@2x/about-me@2x.png  684w,
        ./images/tablet@2x/about-me@2x.png  1408w,
        ./images/dekstop@2x/about-me@2x.png 1360w
         "
      sizes="(min-width: 1440px) 680px, (min-width: 768px) 704px, (max-width: 767px) 343px"
      src="./images/default-mobile/about-me.png"
      alt="" />
    </div>

<button class="accordion about-title">About me 

</button>
<div class="panel">
  <p class="about-text margin">I am Lloyd Jefferson, a talented programmer with extensive expertise in software development. I have an understanding of different programming languages and technologies, always ready to improve my skills. I always follow the latest trends and look for unconventional, creative solutions to problems. I have a high level of analytical skills and am able to effectively solve even the most difficult tasks encountered on the way.</p>
<p class="about-text margin">Able to work both independently and in a team. I can effectively cooperate with colleagues, exchanging ideas and finding optimal solutions. Professional maturity allows you to calmly cope with challenges and stressful situations, while maintaining a high quality of work.I am always looking for opportunities for self-improvement. I actively study new technologies and practices to stay abreast of the latest innovations. I have a strong understanding of various programming languages, frameworks and architectural concepts that allow me to create efficient and scalable software.</p>
</div>

<button class="accordion about-title">Role 

</button>
<div class="panel">
  <p class="about-text margin-min">Frontend development</p>
<p class="about-text margin-min">HeadlessCMS,Wordpress</p>
<p class="about-text margin-min">Blender(enjoy)</p>
</div>

<button class="accordion about-title">Education 

</button>
<div class="panel">
    <p class="about-text margin-min">2018 - 2019  / Frontend Development Diploma, GoIT IT School, New York</p>
<p class="about-text margin-min">2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New York</p>
<p class="about-text margin-min">2020 - 2022 / Advanced Blender Animation Techniques, Udemy</p>
</div>
<div class="swipe">

  <div class="technologies swiper-container">
    
    <ul class="technologies-list swiper-wrapper">
        <li class="technologies-item swiper-slide">HTML/CSS</li>
        <li class="technologies-item swiper-slide">JavaScript</li>
        <li class="technologies-item swiper-slide">React</li>
        <li class="technologies-item swiper-slide">Node.js</li>
        <li class="technologies-item swiper-slide">React Native</li>
        <li class="technologies-item swiper-slide">Soft skills</li>
        <li class="technologies-item swiper-slide">HTML/CSS</li>
        <li class="technologies-item swiper-slide">JavaScript</li>
        <li class="technologies-item swiper-slide">React</li>
        <li class="technologies-item swiper-slide">Node.js</li>
        <li class="technologies-item swiper-slide">React Native</li>
        <li class="technologies-item swiper-slide">Soft skills</li>
    </ul>

  </div>
  <button class="button-next"><svg class="arrow-right" >
<use href="./images/icons/sprite.svg#icon-arrow-right"></use></svg></button>
</div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script type="module" src="./js/about-me.js"></script>
</section>
</section>