<section class="benefits section" id="benefits">
        <div class="container benefits-container">
          <h2 class="benefits-title">Benefits of working with me</h2>
          <ul class="benefits-list list">
            <li class="benefits-list-item">
              <div class="benefits-list-icon-wrapper">
                <svg
                  class="benefits-list-icon"
                  width="24"
                  height="24"
                  aria-label="user icon"
                
                >
                  <use href="./images/icons/sprite.svg#icon-user"></use>
                </svg>
              </div>
              <h3 class="benefits-list-title">Expertise</h3>
              <p class="benefits-list-text">
                As a highly experienced developer, I have deep knowledge of programming and website development.
              </p>
            </li>
            <li class="benefits-list-item">
              <div class="benefits-list-icon-wrapper">
                <svg
                  class="benefits-list-icon"
                  width="32"
                  height="32"
                  aria-label="chocolate icon"
                >
                  <use href="./images/icons/sprite.svg#icon-message"></use>
                </svg>
              </div>
              <h3 class="benefits-list-title">Communication</h3>
              <p class="benefits-list-text">
              Understanding your needs and wants is my priority and I am always open to discussions and corrections.
              </p>
            </li>
            <li class="benefits-list-item">
              <div class="benefits-list-icon-wrapper">
                <svg
                  class="benefits-list-icon"
                  width="32"
                  height="32"
                  aria-label="chocolate icon"
                >
                  <use href="./images/icons/sprite.svg#icon-brush"></use>
                </svg>
              </div>
              <h3 class="benefits-list-title">Art</h3>
              <p class="benefits-list-text">
                Thanks to my creative nature, I am ready to accept challenges and help you bring your ideas to life. 
              </p>
            </li>
            <li class="benefits-list-item">
                <div class="benefits-list-icon-wrapper">
                  <svg
                    class="benefits-list-icon"
                    width="32"
                    height="32"
                    aria-label="chocolate icon"
                  >
                    <use href="./images/icons/sprite.svg#icon-hourglass"></use>
                  </svg>
                </div>
                <h3 class="benefits-list-title">Urgent execution</h3>
                <p class="benefits-list-text">
                    I understand how important time is to you. Ready to work quickly and efficiently, without reducing the quality of work.
                </p>
              </li>
          </ul>
        </div>
            <div class="order "><a class="order-the-project link" href="#how-made">Order the project</a></div>
          
          </section>