<section class="covers">
    <div class="container content">
      <div class="marquee">
        <div class="marquee__inner">
          <div class="marquee__line">
            <picture>
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="../images/mobile@2x/covers-1.jpg" alt="hui" />
            </picture>
          </div>
          <div class="marquee__line">
            <picture>
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="../images/mobile@2x/covers-1.jpg" alt="hui" />
            </picture>
          </div>
          <div class="marquee__line">
            <picture>
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="../images/mobile@2x/covers-1.jpg" alt="hui" />
            </picture>
          </div>
          <div class="marquee__line">
            <picture>
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="../images/mobile@2x/covers-1.jpg" alt="hui" />
            </picture>
          </div>
          <div class="marquee__line">
            <picture>
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="../images/mobile@2x/covers-1.jpg" alt="hui" />
            </picture>
          </div>
          <div class="marquee__line">
            <picture>
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="../images/mobile@2x/covers-1.jpg" alt="hui" />
            </picture>
          </div>
          <div class="marquee__line">
            <picture>
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="../images/mobile@2x/covers-1.jpg" alt="hui" />
            </picture>
          </div>
          <div class="marquee__line">
            <picture>
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="../images/mobile@2x/covers-1.jpg" alt="hui" />
            </picture>
          </div>
          <div class="marquee__line">
            <picture>
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="../images/mobile@2x/covers-1.jpg" alt="hui" />
            </picture>
          </div>
        </div>
        <div class="marquee__inner">
          <div class="marquee__line">
            <picture>
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="../images/mobile@2x/covers-1.jpg" alt="hui" />
            </picture>
          </div>
          <div class="marquee__line">
            <picture>
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="../images/mobile@2x/covers-1.jpg" alt="hui" />
            </picture>
          </div>
          <div class="marquee__line">
            <picture>
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="../images/mobile@2x/covers-1.jpg" alt="hui" />
            </picture>
          </div>
          <div class="marquee__line">
            <picture>
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="../images/mobile@2x/covers-1.jpg" alt="hui" />
            </picture>
          </div>
          <div class="marquee__line">
            <picture>
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="../images/mobile@2x/covers-1.jpg" alt="hui" />
            </picture>
          </div>
          <div class="marquee__line">
            <picture>
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="../images/mobile@2x/covers-1.jpg" alt="hui" />
            </picture>
          </div>
          <div class="marquee__line">
            <picture>
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="../images/mobile@2x/covers-1.jpg" alt="hui" />
            </picture>
          </div>
          <div class="marquee__line">
            <picture>
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="../images/mobile@2x/covers-1.jpg" alt="hui" />
            </picture>
          </div>
          <div class="marquee__line">
            <picture>
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="../images/mobile@2x/covers-1.jpg" alt="hui" />
            </picture>
          </div>
        </div>
        <div class="marquee__inner">
          <div class="marquee__line">
            <picture>
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="../images/mobile@2x/covers-1.jpg" alt="hui" />
            </picture>
          </div>
          <div class="marquee__line">
            <picture>
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="../images/mobile@2x/covers-1.jpg" alt="hui" />
            </picture>
          </div>
          <div class="marquee__line">
            <picture>
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="../images/mobile@2x/covers-1.jpg" alt="hui" />
            </picture>
          </div>
          <div class="marquee__line">
            <picture>
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="../images/mobile@2x/covers-1.jpg" alt="hui" />
            </picture>
          </div>
          <div class="marquee__line">
            <picture>
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="../images/mobile@2x/covers-1.jpg" alt="hui" />
            </picture>
          </div>
          <div class="marquee__line">
            <picture>
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="../images/mobile@2x/covers-1.jpg" alt="hui" />
            </picture>
          </div>
          <div class="marquee__line">
            <picture>
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="../images/mobile@2x/covers-1.jpg" alt="hui" />
            </picture>
          </div>
          <div class="marquee__line">
            <picture>
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="../images/mobile@2x/covers-1.jpg" alt="hui" />
            </picture>
          </div>
          <div class="marquee__line">
            <picture>
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="../images/mobile@2x/covers-1.jpg" alt="hui" />
            </picture>
          </div>
        </div>
        <div class="marquee__inner">
          <div class="marquee__line">
            <picture>
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="../images/mobile@2x/covers-1.jpg" alt="hui" />
            </picture>
          </div>
          <div class="marquee__line">
            <picture>
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="../images/mobile@2x/covers-1.jpg" alt="hui" />
            </picture>
          </div>
          <div class="marquee__line">
            <picture>
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="../images/mobile@2x/covers-1.jpg" alt="hui" />
            </picture>
          </div>
          <div class="marquee__line">
            <picture>
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="../images/mobile@2x/covers-1.jpg" alt="hui" />
            </picture>
          </div>
          <div class="marquee__line">
            <picture>
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="../images/mobile@2x/covers-1.jpg" alt="hui" />
            </picture>
          </div>
          <div class="marquee__line">
            <picture>
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="../images/mobile@2x/covers-1.jpg" alt="hui" />
            </picture>
          </div>
          <div class="marquee__line">
            <picture>
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="../images/mobile@2x/covers-1.jpg" alt="hui" />
            </picture>
          </div>
          <div class="marquee__line">
            <picture>
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="../images/mobile@2x/covers-1.jpg" alt="hui" />
            </picture>
          </div>
          <div class="marquee__line">
            <picture>
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../images/mobile@2x/covers-1.jpg 1x,
                  ../images/mobile@2x/covers-1.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="../images/mobile@2x/covers-1.jpg" alt="hui" />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </section>