<section class="covers">
  <div class="container content">
    <div class="marquee">
      <div class="marquee__inner">
        <div class="marquee__line">
          <picture>
            <source
              srcset="
                ./images/default-dekstop/cover-1.png 1x,
                ./images/dekstop@2x/cover-1@2x.png   2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-1.png 1x,
                ./images/dekstop@2x/cover-1@2x.png   2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-1.png 1x,
                ./images/dekstop@2x/cover-1@2x.png   2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="project-cover-img"
              src="./images/default-dekstop/cover-1.png"
              alt="project"
            />
          </picture>
        </div>
        <div class="marquee__line">
          <picture>
            <source
              srcset="
                ./images/default-dekstop/cover-2.png 1x,
                ./images/dekstop@2x/cover-2@2x.png   2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-2.png 1x,
                ./images/dekstop@2x/cover-2@2x.png   2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-2.png 1x,
                ./images/dekstop@2x/cover-2@2x.png   2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="project-cover-img"
              src="./images/default-dekstop/cover-2.png"
              alt="hui"
            />
          </picture>
        </div>
        <div class="marquee__line">
          <picture>
            <source
              srcset="
                ./images/default-dekstop/cover-3.png 1x,
                ./images/dekstop@2x/cover-3@2x.png   2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-3.png 1x,
                ./images/dekstop@2x/cover-3@2x.png   2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-3.png 1x,
                ./images/dekstop@2x/cover-3@2x.png   2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="project-cover-img"
              src="./images/default-dekstop/cover-3.png"
              alt="project"
            />
          </picture>
        </div>
        <div class="marquee__line">
          <picture>
            <source
              srcset="
                ./images/default-dekstop/cover-4.png 1x,
                ./images/dekstop@2x/cover-4@2x.png   2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-4.png 1x,
                ./images/dekstop@2x/cover-4@2x.png   2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-4.png 1x,
                ./images/dekstop@2x/cover-4@2x.png   2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="project-cover-img"
              src="./images/default-dekstop/cover-4.png"
              alt="project"
            />
          </picture>
        </div>
        <div class="marquee__line">
          <picture>
            <source
              srcset="
                ./images/default-dekstop/cover-5.png 1x,
                ./images/dekstop@2x/cover-5@2x.png   2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-5.png 1x,
                ./images/dekstop@2x/cover-5@2x.png   2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-5.png 1x,
                ./images/dekstop@2x/cover-5@2x.png   2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="project-cover-img"
              src="./images/default-dekstop/cover-5.png"
              alt="project"
            />
          </picture>
        </div>
        <div class="marquee__line">
          <picture>
            <source
              srcset="
                ./images/default-dekstop/cover-1.png 1x,
                ./images/dekstop@2x/cover-1@2x.png   2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-1.png 1x,
                ./images/dekstop@2x/cover-1@2x.png   2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-1.png 1x,
                ./images/dekstop@2x/cover-1@2x.png   2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="project-cover-img"
              src="./images/default-dekstop/cover-1.png"
              alt="project"
            />
          </picture>
        </div>
        <div class="marquee__line">
          <picture>
            <source
              srcset="
                ./images/default-dekstop/cover-2.png 1x,
                ./images/dekstop@2x/cover-2@2x.png   2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-2.png 1x,
                ./images/dekstop@2x/cover-2@2x.png   2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-2.png 1x,
                ./images/dekstop@2x/cover-2@2x.png   2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="project-cover-img"
              src="./images/default-dekstop/cover-2.png"
              alt="project"
            />
          </picture>
        </div>
        <div class="marquee__line">
          <picture>
            <source
              srcset="
                ./images/default-dekstop/cover-3.png 1x,
                ./images/dekstop@2x/cover-3@2x.png   2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-3.png 1x,
                ./images/dekstop@2x/cover-3@2x.png   2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-3.png 1x,
                ./images/dekstop@2x/cover-3@2x.png   2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="project-cover-img"
              src="./images/default-dekstop/cover-3.png"
              alt="project"
            />
          </picture>
        </div>
        <div class="marquee__line">
          <picture>
            <source
              srcset="
                ./images/default-dekstop/cover-4.png 1x,
                ./images/dekstop@2x/cover-4@2x.png   2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-4.png 1x,
                ./images/dekstop@2x/cover-4@2x.png   2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-4.png 1x,
                ./images/dekstop@2x/cover-4@2x.png   2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="project-cover-img"
              src="./images/default-dekstop/cover-4.png"
              alt="project"
            />
          </picture>
        </div>
        <div class="marquee__line">
          <picture>
            <source
              srcset="
                ./images/default-dekstop/cover-5.png 1x,
                ./images/dekstop@2x/cover-5@2x.png   2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-5.png 1x,
                ./images/dekstop@2x/cover-5@2x.png   2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-5.png 1x,
                ./images/dekstop@2x/cover-5@2x.png   2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="project-cover-img"
              src="./images/default-dekstop/cover-5.png"
              alt="project"
            />
          </picture>
        </div>
      </div>
      <div class="marquee__inner">
        <div class="marquee__line-r">
          <picture>
            <source
              srcset="
                ./images/default-dekstop/cover-6.png 1x,
                ./images/dekstop@2x/cover-6@2x.png   2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-6.png 1x,
                ./images/dekstop@2x/cover-6@2x.png   2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-6.png 1x,
                ./images/dekstop@2x/cover-6@2x.png   2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="project-cover-img"
              src="./images/default-dekstop/cover-6.png"
              alt="project"
            />
          </picture>
        </div>
        <div class="marquee__line-r">
          <picture>
            <source
              srcset="
                ./images/default-dekstop/cover-7.png 1x,
                ./images/dekstop@2x/cover-7@2x.png   2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-7.png 1x,
                ./images/dekstop@2x/cover-7@2x.png   2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-7.png 1x,
                ./images/dekstop@2x/cover-7@2x.png   2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="project-cover-img"
              src="./images/default-dekstop/cover-7.png"
              alt="project"
            />
          </picture>
        </div>
        <div class="marquee__line-r">
          <picture>
            <source
              srcset="
                ./images/default-dekstop/cover-8.png 1x,
                ./images/dekstop@2x/cover-8@2x.png   2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-8.png 1x,
                ./images/dekstop@2x/cover-8@2x.png   2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-8.png 1x,
                ./images/dekstop@2x/cover-8@2x.png   2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="project-cover-img"
              src="./images/default-dekstop/cover-8.png"
              alt="project"
            />
          </picture>
        </div>
        <div class="marquee__line-r">
          <picture>
            <source
              srcset="
                ./images/default-dekstop/cover-9.png 1x,
                ./images/dekstop@2x/cover-9@2x.png   2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-9.png 1x,
                ./images/dekstop@2x/cover-9@2x.png   2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-9.png 1x,
                ./images/dekstop@2x/cover-9@2x.png   2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="project-cover-img"
              src="./images/default-dekstop/cover-9.png"
              alt="project"
            />
          </picture>
        </div>
        <div class="marquee__line-r">
          <picture>
            <source
              srcset="
                ./images/default-dekstop/cover-10.png 1x,
                ./images/dekstop@2x/cover-10@2x.png   2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-10.png 1x,
                ./images/dekstop@2x/cover-10@2x.png   2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-10.png 1x,
                ./images/dekstop@2x/cover-10@2x.png   2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="project-cover-img"
              src="./images/default-dekstop/cover-10.png"
              alt="project"
            />
          </picture>
        </div>
        <div class="marquee__line-r">
          <picture>
            <source
              srcset="
                ./images/default-dekstop/cover-6.png 1x,
                ./images/dekstop@2x/cover-6@2x.png   2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-6.png 1x,
                ./images/dekstop@2x/cover-6@2x.png   2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-6.png 1x,
                ./images/dekstop@2x/cover-6@2x.png   2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="project-cover-img"
              src="./images/default-dekstop/cover-6.png"
              alt="project"
            />
          </picture>
        </div>
        <div class="marquee__line-r">
          <picture>
            <source
              srcset="
                ./images/default-dekstop/cover-7.png 1x,
                ./images/dekstop@2x/cover-7@2x.png   2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-7.png 1x,
                ./images/dekstop@2x/cover-7@2x.png   2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-7.png 1x,
                ./images/dekstop@2x/cover-7@2x.png   2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="project-cover-img"
              src="./images/default-dekstop/cover-7.png"
              alt="project"
            />
          </picture>
        </div>
        <div class="marquee__line-r">
          <picture>
            <source
              srcset="
                ./images/default-dekstop/cover-8.png 1x,
                ./images/dekstop@2x/cover-8@2x.png   2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-8.png 1x,
                ./images/dekstop@2x/cover-8@2x.png   2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-8.png 1x,
                ./images/dekstop@2x/cover-8@2x.png   2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="project-cover-img"
              src="./images/default-dekstop/cover-8.png"
              alt="project"
            />
          </picture>
        </div>
        <div class="marquee__line-r">
          <picture>
            <source
              srcset="
                ./images/default-dekstop/cover-9.png 1x,
                ./images/dekstop@2x/cover-9@2x.png   2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-9.png 1x,
                ./images/dekstop@2x/cover-9@2x.png   2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-9.png 1x,
                ./images/dekstop@2x/cover-9@2x.png   2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="project-cover-img"
              src="./images/default-dekstop/cover-9.png"
              alt="project"
            />
          </picture>
        </div>
        <div class="marquee__line-r">
          <picture>
            <source
              srcset="
                ./images/default-dekstop/cover-10.png 1x,
                ./images/dekstop@2x/cover-10@2x.png   2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-10.png 1x,
                ./images/dekstop@2x/cover-10@2x.png   2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-10.png 1x,
                ./images/dekstop@2x/cover-10@2x.png   2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="project-cover-img"
              src="./images/default-dekstop/cover-10.png"
              alt="project"
            />
          </picture>
        </div>
      </div>
      <div class="marquee__inner">
        <div class="marquee__line">
          <picture>
            <source
              srcset="
                ./images/default-dekstop/cover-1.png 1x,
                ./images/dekstop@2x/cover-1@2x.png   2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-1.png 1x,
                ./images/dekstop@2x/cover-1@2x.png   2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-1.png 1x,
                ./images/dekstop@2x/cover-1@2x.png   2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="project-cover-img"
              src="./images/default-dekstop/cover-1.png"
              alt="project"
            />
          </picture>
        </div>
        <div class="marquee__line">
          <picture>
            <source
              srcset="
                ./images/default-dekstop/cover-2.png 1x,
                ./images/dekstop@2x/cover-2@2x.png   2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-2.png 1x,
                ./images/dekstop@2x/cover-2@2x.png   2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-2.png 1x,
                ./images/dekstop@2x/cover-2@2x.png   2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="project-cover-img"
              src="./images/default-dekstop/cover-2.png"
              alt="project"
            />
          </picture>
        </div>
        <div class="marquee__line">
          <picture>
            <source
              srcset="
                ./images/default-dekstop/cover-3.png 1x,
                ./images/dekstop@2x/cover-3@2x.png   2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-3.png 1x,
                ./images/dekstop@2x/cover-3@2x.png   2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-3.png 1x,
                ./images/dekstop@2x/cover-3@2x.png   2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="project-cover-img"
              src="./images/default-dekstop/cover-3.png"
              alt="project"
            />
          </picture>
        </div>
        <div class="marquee__line">
          <picture>
            <source
              srcset="
                ./images/default-dekstop/cover-4.png 1x,
                ./images/dekstop@2x/cover-4@2x.png   2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-4.png 1x,
                ./images/dekstop@2x/cover-4@2x.png   2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-4.png 1x,
                ./images/dekstop@2x/cover-4@2x.png   2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="project-cover-img"
              src="./images/default-dekstop/cover-4.png"
              alt="project"
            />
          </picture>
        </div>
        <div class="marquee__line">
          <picture>
            <source
              srcset="
                ./images/default-dekstop/cover-5.png 1x,
                ./images/dekstop@2x/cover-5@2x.png   2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-5.png 1x,
                ./images/dekstop@2x/cover-5@2x.png   2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-5.png 1x,
                ./images/dekstop@2x/cover-5@2x.png   2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="project-cover-img"
              src="./images/default-dekstop/cover-5.png"
              alt="project"
            />
          </picture>
        </div>
        <div class="marquee__line">
          <picture>
            <source
              srcset="
                ./images/default-dekstop/cover-1.png 1x,
                ./images/dekstop@2x/cover-1@2x.png   2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-1.png 1x,
                ./images/dekstop@2x/cover-1@2x.png   2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-1.png 1x,
                ./images/dekstop@2x/cover-1@2x.png   2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="project-cover-img"
              src="./images/default-dekstop/cover-1.png"
              alt="project"
            />
          </picture>
        </div>
        <div class="marquee__line">
          <picture>
            <source
              srcset="
                ./images/default-dekstop/cover-2.png 1x,
                ./images/dekstop@2x/cover-2@2x.png   2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-2.png 1x,
                ./images/dekstop@2x/cover-2@2x.png   2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-2.png 1x,
                ./images/dekstop@2x/cover-2@2x.png   2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="project-cover-img"
              src="./images/default-dekstop/cover-2.png"
              alt="project"
            />
          </picture>
        </div>
        <div class="marquee__line">
          <picture>
            <source
              srcset="
                ./images/default-dekstop/cover-3.png 1x,
                ./images/dekstop@2x/cover-3@2x.png   2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-3.png 1x,
                ./images/dekstop@2x/cover-3@2x.png   2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-3.png 1x,
                ./images/dekstop@2x/cover-3@2x.png   2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="project-cover-img"
              src="./images/default-dekstop/cover-3.png"
              alt="project"
            />
          </picture>
        </div>
        <div class="marquee__line">
          <picture>
            <source
              srcset="
                ./images/default-dekstop/cover-4.png 1x,
                ./images/dekstop@2x/cover-4@2x.png   2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-4.png 1x,
                ./images/dekstop@2x/cover-4@2x.png   2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-4.png 1x,
                ./images/dekstop@2x/cover-4@2x.png   2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="project-cover-img"
              src="./images/default-dekstop/cover-4.png"
              alt="project"
            />
          </picture>
        </div>
        <div class="marquee__line">
          <picture>
            <source
              srcset="
                ./images/default-dekstop/cover-5.png 1x,
                ./images/dekstop@2x/cover-5@2x.png   2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-5.png 1x,
                ./images/dekstop@2x/cover-5@2x.png   2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-5.png 1x,
                ./images/dekstop@2x/cover-5@2x.png   2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="project-cover-img"
              src="./images/default-dekstop/cover-5.png"
              alt="project"
            />
          </picture>
        </div>
      </div>
      <div class="marquee__inner">
        <div class="marquee__line-r">
          <picture>
            <source
              srcset="
                ./images/default-dekstop/cover-6.png 1x,
                ./images/dekstop@2x/cover-6@2x.png   2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-6.png 1x,
                ./images/dekstop@2x/cover-6@2x.png   2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-6.png 1x,
                ./images/dekstop@2x/cover-6@2x.png   2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="project-cover-img"
              src="./images/default-dekstop/cover-6.png"
              alt="project"
            />
          </picture>
        </div>
        <div class="marquee__line-r">
          <picture>
            <source
              srcset="
                ./images/default-dekstop/cover-7.png 1x,
                ./images/dekstop@2x/cover-7@2x.png   2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-7.png 1x,
                ./images/dekstop@2x/cover-7@2x.png   2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-7.png 1x,
                ./images/dekstop@2x/cover-7@2x.png   2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="project-cover-img"
              src="./images/default-dekstop/cover-7.png"
              alt="project"
            />
          </picture>
        </div>
        <div class="marquee__line-r">
          <picture>
            <source
              srcset="
                ./images/default-dekstop/cover-8.png 1x,
                ./images/dekstop@2x/cover-8@2x.png   2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-8.png 1x,
                ./images/dekstop@2x/cover-8@2x.png   2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-8.png 1x,
                ./images/dekstop@2x/cover-8@2x.png   2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="project-cover-img"
              src="./images/default-dekstop/cover-8.png"
              alt="project"
            />
          </picture>
        </div>
        <div class="marquee__line-r">
          <picture>
            <source
              srcset="
                ./images/default-dekstop/cover-9.png 1x,
                ./images/dekstop@2x/cover-9@2x.png   2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-9.png 1x,
                ./images/dekstop@2x/cover-9@2x.png   2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-9.png 1x,
                ./images/dekstop@2x/cover-9@2x.png   2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="project-cover-img"
              src="./images/default-dekstop/cover-9.png"
              alt="project"
            />
          </picture>
        </div>
        <div class="marquee__line-r">
          <picture>
            <source
              srcset="
                ./images/default-dekstop/cover-10.png 1x,
                ./images/dekstop@2x/cover-10@2x.png   2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-10.png 1x,
                ./images/dekstop@2x/cover-10@2x.png   2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-10.png 1x,
                ./images/dekstop@2x/cover-10@2x.png   2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="project-cover-img"
              src="./images/default-dekstop/cover-10.png"
              alt="project"
            />
          </picture>
        </div>
        <div class="marquee__line-r">
          <picture>
            <source
              srcset="
                ./images/default-dekstop/cover-6.png 1x,
                ./images/dekstop@2x/cover-6@2x.png   2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-6.png 1x,
                ./images/dekstop@2x/cover-6@2x.png   2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-6.png 1x,
                ./images/dekstop@2x/cover-6@2x.png   2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="project-cover-img"
              src="./images/default-dekstop/cover-6.png"
              alt="project"
            />
          </picture>
        </div>
        <div class="marquee__line-r">
          <picture>
            <source
              srcset="
                ./images/default-dekstop/cover-7.png 1x,
                ./images/dekstop@2x/cover-7@2x.png   2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-7.png 1x,
                ./images/dekstop@2x/cover-7@2x.png   2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-7.png 1x,
                ./images/dekstop@2x/cover-7@2x.png   2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="project-cover-img"
              src="./images/default-dekstop/cover-7.png"
              alt="project"
            />
          </picture>
        </div>
        <div class="marquee__line-r">
          <picture>
            <source
              srcset="
                ./images/default-dekstop/cover-8.png 1x,
                ./images/dekstop@2x/cover-8@2x.png   2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-8.png 1x,
                ./images/dekstop@2x/cover-8@2x.png   2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-8.png 1x,
                ./images/dekstop@2x/cover-8@2x.png   2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="project-cover-img"
              src="./images/default-dekstop/cover-8.png"
              alt="project"
            />
          </picture>
        </div>
        <div class="marquee__line-r">
          <picture>
            <source
              srcset="
                ./images/default-dekstop/cover-9.png 1x,
                ./images/dekstop@2x/cover-9@2x.png   2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-9.png 1x,
                ./images/dekstop@2x/cover-9@2x.png   2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-9.png 1x,
                ./images/dekstop@2x/cover-9@2x.png   2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="project-cover-img"
              src="./images/default-dekstop/cover-9.png"
              alt="project"
            />
          </picture>
        </div>
        <div class="marquee__line-r">
          <picture>
            <source
              srcset="
                ./images/default-dekstop/cover-10.png 1x,
                ./images/dekstop@2x/cover-10@2x.png   2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-10.png 1x,
                ./images/dekstop@2x/cover-10@2x.png   2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/default-dekstop/cover-10.png 1x,
                ./images/dekstop@2x/cover-10@2x.png   2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="project-cover-img"
              src="./images/default-dekstop/cover-10.png"
              alt="project"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
