<footer class="footer" id="order-section">
  <div class="container">
    <div>
      <img src="../images/profile/profile 1x.png" alt="icon profile" />
      <h2>let`s <span>work</span></h2>
      <h2>together</h2>
    </div>
    <div>
      <form>
        <input type="email" name="email" placeholder="clients@gmail.com" />
        <textarea
          name="comments"
          cols="30"
          rows="10"
          placeholder="comments"
        ></textarea>
        <button type="submit">Send</button>
      </form>
    </div>
    <div>
      <ul>
        <li>
          <a href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
        </li>
        <li>
          <a href="tel:+380 11 1111 11 11">+380 11 1111 11 11</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
