<footer class="footer">
  <div class="container-footer">
    <div class="wrapper-footer">
      <img
        src="../images/profile/icon-profile.png"
        alt="icon profile"
        class="footer-img"
      />
      <h2 class="footer-pre-title">
        let`s <span class="footer-span">work</span>
      </h2>
<footer class="footer" id="order-section">
  <div class="container">
    <div>
      <img src="../images/profile/profile 1x.png" alt="icon profile" />
      <h2>let`s <span>work</span></h2>
      <h2>together</h2>
    </div>
    <h2 class="footer-title">together</h2>
    <div class="wrapper-form">
      <form class="footer-form js-form">
        <input
          class="input-email"
          type="email"
          name="email"
          placeholder="clients@gmail.com"
          pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
        />
        <input
          class="input-commit js-input"
          type="text"
          name="text"
          placeholder="comments"
          maxlength="42"
        />
        <button class="footer-button" type="submit">Send</button>
      </form>
    </div>
    <div class="wrapper-fidback">
      <ul class="footer-list">
        <li class="footer-item">
          <a class="footer-link" href="mailto:lloydjefferson@gmail.com"
            >lloydjefferson@gmail.com</a
          >
        </li>
        <li class="footer-item">
          <a class="footer-link number-link" href="tel:+380 11 1111 11 11"
            >+380 11 1111 11 11</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
