
<header class="header container">
    <div class="header-nav">
        <div class="logo-wrapper">
           <a href="index.html"><img class="header-logo" src="../images/profile/icon-profile.png" alt="icon profile" width="80" height="80"/></a> 
            <svg class="logo-text" width="84" height="19">
                <use href="../images/icons/sprite.svg#icon-jefferson"></use>
            </svg>
        </div>
        <button class="menu-btn" type="button">
            <svg class="burger-icon" width="28" height="28">
                <use href="../images/icons/sprite.svg#icon-burger"></use>
            </svg>
        </button>
    </div>
</header>
