<header class="header container">
    <div class="header-nav">
        <div class="logo-wrapper">
           <a href="index.html"><img class="header-logo" src="../images/profile/icon-profile.png" alt="icon profile" width="80" height="80"/></a> 
            <svg class="logo-text" width="84" height="19">
                <use href="../images/icons/sprite.svg#icon-jefferson"></use>
            </svg>
        </div>
        <button class="menu-btn" type="button">
            <svg class="burger-icon" width="28" height="28">
                <use href="../images/icons/sprite.svg#icon-burger"></use>
            </svg>
        </button>
    </div>
</header>
<div class="mobile-modal is-open">
<button class="close-btn" type="button">
    <svg class="icon-close" width="28" height="28">
        <use href="./images/icons/sprite.svg#icon-close"></use>
    </svg>
</button>
<ul class="modal-nav">
    <li class="modal-nav-item" ><a href="#about-me" class="modal-nav-link">About me</a></li>
    <li class="modal-nav-item" ><a href="#benefits" class="modal-nav-link">Benefits</a></li>
    <li class="modal-nav-item" ><a href="#projects-section" class="modal-nav-link">Projects</a></li>
    <li class="modal-nav-item" ><a href="#FAQ" class="modal-nav-link">FAQ</a></li>
  </ul>   
  <button class="order-btn" type="submit">Order the project</button>
</div>