<section id="header" class="hero">
  <div class="container hero-box">
    <h1>Hello.<br />I’m Fullstack developer Lloyd Jefferson.</h1>
    <ul class="hero-link-list">
      <li>
        <a
          class="social-link"
          target="_blank"
          href="https://www.instagram.com/goitclub/"
          >IG</a
        >
      </li>
      <li>
        <a
          class="social-link"
          target="_blank"
          href="https://www.facebook.com/goITclub/"
          >FB</a
        >
      </li>
      <li>
        <a
          class="social-link"
          target="_blank"
          href="https://www.youtube.com/c/GoIT/"
          >YT</a
        >
      </li>
      <li>
        <a
          class="social-link"
          target="_blank"
          href="https://www.instagram.com/goitclub/"
          >GH</a
        >
      </li>
      <li>
        <a class="contacts-list-link" href="mailto:lloydjefferson@gmail.com"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
