<section id="projects-section" class="container">
  <h2 class="projects-section-title">Projects</h2>
  <ul class="projects-list">
    <li class="projects-list-item">
      <div class="project-description">
        <ul class="project-tech-list">
          <li class="project-tech-list-item">#react</li>
          <li class="project-tech-list-item">#js</li>
          <li class="project-tech-list-item">#node js</li>
          <li class="project-tech-list-item">#git</li>
        </ul>
        <h3 class="project-title">
          Programming Across Borders: Ideas, Technologies, Innovations
        </h3>
        <a
          class="project-link"
          target="_blank"
          href="https://github.com/NazarHook/full-stack-force"
          >See project</a
        >
      </div>
      <div class="project-cover">
        <picture>
          <source
            srcset="
              ./images/default-desktop/project-1-cover.png 1x,
              ./images/desktop@2x/project-1-cover@2x.png   2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/default-tablet/project-1-cover.png 1x,
              ./images/tablet@2x/project-1-cover@2x.png   2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/default-mobile/project-1-cover.png 1x,
              ./images/mobile@2x/project-1-cover@2x.png   2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/default-mobile/project-1-cover.png"
            alt="Programming Across Borders: Ideas, Technologies, Innovations"
          />
        </picture>
      </div>
    </li>
  </ul>
  <div class="projects-pagination">
    <button class="prev-project-btn project-pagination-btn">
      <svg class="prev-project-arrow">
        <use href="./images/icons/sprite.svg#icon-arrow-left"></use>
      </svg>
    </button>
    <button class="next-project-btn project-pagination-btn">
      <svg class="next-project-arrow">
        <use href="./images/icons/sprite.svg#icon-arrow-right"></use>
      </svg>
    </button>
  </div>
</section>
