body {
  background-color: #1c1d20;
  color: #fafafa;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  padding: 0 16px;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 15px;
  }
}
.about-me-container {
  padding: 32px 0;
.about-me-container {
  padding: 64px 0 33px 0;
}
.first-section {
  margin-bottom: 32px;
}
.about-me-text {
  background-color: #242527;
  border-radius: 24px;
  width: 343px;
  height: 500px;
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  padding: 32px;
  box-sizing: border-box;
  margin-bottom: 16px;
}
.green-text {
  color: #c6e327;
}
.gray-text {
  color: rgba(250, 250, 250, 0.4);
}
.about-me-img {
  border-radius: 24px;
  width: 343px;
  height: 500px;
}
.about-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border: none;
}
.open-btn {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  background-color: transparent;
  padding: 9px;
  width: 36px;
  height: 36px;
  margin-top: auto;
  margin-bottom: auto;
}
.ac-panel:not(:last-child) {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  margin-bottom: 10px;
}
.ac-panel:last-child {
  margin-bottom: 35px;
}
.margin {
  margin-bottom: 32px;
}
.margin-min {
  margin-bottom: 10px;
}
.technologies {
  display: flex;
  justify-content: space-between;
  min-width: 0;
  width: 260px !important;
  margin-top: 32px;
  overflow: hidden;
}

.technologies-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  height: 130px !important;
  width: 130px !important;
  border-radius: 100%;
  border: 1px solid rgba(250, 250, 250, 0.2);
  background-color: transparent;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.swipe {
  display: flex;
  justify-content: space-between;
  min-width: 0;
}

.selected {
  background-color: #c6e327;
  border: none;
}
.swiper-container {
  width: 100%;
  height: 100%;
}

.button-next {
  border: none;
  background-color: transparent;
  margin-top: auto;
  margin-bottom: auto;
}
.accordion {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  outline: none;
  transition: 0.4s;
}

.accordion:hover {
  background-color: #3b3b3b;
}
.panel {
  display: none;
  overflow: hidden;
}

.accordion:after {
  content: url("data:image/svg+xml;charset=UTF-8,<svg  width='16' height='16' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M11 1.5L6 6.5L1 1.5' stroke='white' stroke-width='2'/></svg>");
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  background-color: transparent;
  box-sizing: border-box;
  padding: 9px;
  width: 36px;
  height: 36px;
  margin-top: auto;
  margin-bottom: auto;
  transition: 0.4s;
}

.active:after {
  transform: rotate(180deg);
}
.arrow-right {
  stroke: #3b3b3b;
  fill: none;
  width: 40px;
  height: 40px;
  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  .about-me-text {
    width: 704px;
    height: 700px;
    padding: 64px;
    font-size: 38px;
  }
  .technologies {
    width: 600px !important;
    margin-top: 64px;
  }
  .about-me-img {
    border-radius: 24px;
    width: 704px;
    height: 700px;
  }
  .accordion:after {
    content: url("data:image/svg+xml;charset=UTF-8,<svg  width='20' height='20' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M11 1.5L6 6.5L1 1.5' stroke='white' stroke-width='2'/></svg>");
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 100px;
    background-color: transparent;
    box-sizing: border-box;
    padding: 9px;
    width: 36px;
    height: 36px;
    margin-top: auto;
    margin-bottom: auto;
    transition: 0.4s;
  }
  .technologies-item {
    height: 200px !important;
    width: 200px !important;
    font-size: 20px;
  }
  .accordion:after {
    width: 40px;
    height: 40px;
  }

  .margin {
    margin-bottom: 16px;
  }
  .arrow-right {
    margin-top: 64px;
  }
}
@media screen and (min-width: 1440px) {
  .about-me-container {
    padding: 106px 0 55px 0;
  }
  .about-me-text {
    width: 680px;
    height: 700px;
  }
  .first-section {
    display: flex;
    gap: 16px;
  }
  .technologies {
    width: 1200px !important;
    margin-top: 96px;
  }

  .about-text {
    margin-left: 696px;
  }
  .margin {
    margin-bottom: 32px;
  }
  .arrow-right {
    margin-top: 96px;
  }
}
