:root {
  --background: #1c1d20;
  --cards: #242527;
  --arrow: #3b3b3b;
  --button-text: #c6e327;
  --main-text: #fafafa;
  --font-family: "Inter Tight", sans-serif;
}
.container {
  padding: 0 16px;
}
/* ------------------ */
.benefits{
  margin-top: 32px;
  margin-bottom: 32px;
  
}

.benefits-title{
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
  padding: 6px 0;
}
.benefits-list{
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  padding-bottom: 32px;
}
.benefits-list-item{
  background: #242527;
  border-radius: 20px;
  padding: 24px;
  height: 270px;
  width: 344px;
}
.benefits-list-icon-wrapper{
  border-radius: 10px;
  width: 48px;
  height: 48px;
  background: #c6e327;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  margin-bottom: 64px; 
}
.benefits-list-icon{
  width:24px;
  height:24px;
}
.benefits-list-title{
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #fafafa;
  text-align: left;
  padding-bottom: 8px;;
}
.benefits-list-text{
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  width: 100%;
  
}
/* ------------------------------ */
.order-the-project{
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 18px 36px;
  width: 187px;
  height: 55px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
}
.order{
  width: 367px;
  margin: 32px auto;
}
@media screen and (max-width: 375px) {}

@media screen and (min-width: 375px) {
    .container {
        margin: 0 auto;
    }
}
@media screen and (min-width: 768px) {
  .benefits-list {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .benefits-list-item {
      width: calc(50% - 8px); 
  }

  .order{
    margin-top: 32px;
    padding-left: 32px ;
    padding-bottom: 32px; 
    width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
      padding: 0 32px;
  }

  .benefits {
      display: flex;
      flex-direction: column;
  }

  .benefits-container {
      display: flex;
      justify-content: space-between;
  }

  .benefits-title {
      width: 696px; 
      margin-right: 32px; 
  }

  .benefits-list {
      width: 680px; 
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .benefits-list-item {
      width: calc(50% - 8px); 
  }
  .benefits-list-text{
    width: 284px;
  }
  .order{
    margin-top: 32px;
    padding-left: 742px ;
    padding-bottom: 32px; 
    width: 1440px;
  }

}