.content {
    position: relative;
    width: 375px;
    height: 508px;
}

.covers {
    width: 375px;
    height: 508px;
}

.marquee {
    position: absolute;
    right: -800px;
    left: 0;
    overflow: hidden;
    width: 374px;
    height: 508px;
}

.marquee__inner {
    height: 200px;
    display: flex;
    transform: rotate(16deg);
}

.marquee__line {
    /* background-color: #FFDC00; */
    flex-shrink: 0;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 8);
    white-space: nowrap;
    animation-name: marqueeLine;
    animation-duration: 15s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    width: 315px;
}

@keyframes marqueeLine {
    from {
        transform: translateX(-20%);
    }

    to {
        transform: translateX(-180%);
    }
}



@media (min-width: 768px) {
    .content {
        position: relative;
        width: 768px;
        height: 960px;
    }

    .covers {
        width: 768px;
        height: 960px;
    }

    .marquee {
        position: absolute;
        right: -800px;
        left: 0;
        overflow: hidden;
        width: 768px;
        height: 960px;
    }
}

@media (min-width: 1440px) {
    .content {
        position: relative;
        width: 1440px;
        height: 960px;
    }

    .covers {
        width: 1440px;
        height: 960px;
    }

    .marquee {
        position: absolute;
        right: -800px;
        left: 0;
        overflow: hidden;
        width: 1440px;
        height: 960px;
    }
}