.accordion-container {
  margin-bottom: 30px;
}

.faq-page {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #fafafa66;
  margin-bottom: 32px;
}

#ac-1,
#ac-2,
#ac-3,
#ac-4,
#ac-5,
#ac-6 {
  padding: 20px 0;
  background-color: #1c1d20;
  margin: 0;
  border: none;
  border-top: 1px solid #fafafa33;
}

#ac-6:last-child {
  border-bottom: 1px solid #fafafa33;
}

.ac-question {
  display: flex;
  justify-content: space-between;
}

.ac-header {
  font-family: inherit;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: left;
  max-width: 230px;
  max-height: 120px;
}

#ac-button-1,
#ac-button-2,
#ac-button-3,
#ac-button-4,
#ac-button-5,
#ac-button-6 {
  width: 34px;
  height: 34px;
  border: 1px solid #fafafa33;
  border-radius: 100px;
  padding: 7px;
}

.ac-trigger::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: url("data:image/svg+xml;charset=UTF-8,<svg  width='10' height='10' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M11 1.5L6 6.5L1 1.5' stroke='white' stroke-width='2'/></svg>");
}

.ac-trigger::after {
  content: none !important;
}

.ac-panel:last-child {
  margin-bottom: 0;
}

/* .ac-trigger.active-btn::before {
    transform: rotate(180deg); 
    transition: transform 0.4s; 
  transform-origin: center center; 
    
} */

.active-btn::before {
  transform: rotate(180deg);
  transition: transform 0.4s;
}

.ac-trigger::before {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s;
}

.faq-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #fafafa99;
  margin-top: 16px;
}

@media screen and (min-width: 375px) {
  #ac-1,
  #ac-2,
  #ac-3,
  #ac-4,
  #ac-5,
  #ac-6 {
    width: 343px;
  }

  .ac-header {
    max-width: 289px;
  }

  .faq-text {
    width: 343px;
  }
}

@media screen and (min-width: 768px) {
  .ac-header {
    max-width: 574px;
  }

  .faq-text {
    width: 656px;
  }

  #ac-1,
  #ac-2,
  #ac-3,
  #ac-4,
  #ac-5,
  #ac-6 {
    width: 704px;
  }

  #ac-button-1,
  #ac-button-2,
  #ac-button-3,
  #ac-button-4,
  #ac-button-5,
  #ac-button-6 {
    width: 40px;
    height: 40px;
    padding: 9px;
  }

  .ac-trigger::before {
    content: url("data:image/svg+xml;charset=UTF-8,<svg  width='18' height='10' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M11 1.5L6 6.5L1 1.5' stroke='white' stroke-width='2'/></svg>");
  }
}

@media screen and (min-width: 1440px) {
  .accordion-container {
    width: 1376px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .ac-header {
    max-width: 574px;
  }

  .faq-text {
    width: 656px;
  }

  #ac-1,
  #ac-2,
  #ac-3,
  #ac-4,
  #ac-5,
  #ac-6 {
    width: 688px;
  }

  #ac-5,
  #ac-6 {
    border-bottom: 1px solid #fafafa33;
  }

  #ac-1,
  #ac-3,
  #ac-5 {
    border-right: 1px solid #fafafa33;
    padding-right: 32px;
    padding-top: 32px;
  }

  #ac-2,
  #ac-4,
  #ac-6 {
    padding-left: 32px;
    padding-top: 32px;
  }
}
