:root {
  --background-footer: #1c1d20;
  --email-teil-text: rgba(250, 250, 250, 0.6);
  --input-border: rgba(250, 250, 250, 0.2);
  --span-text: #c6e327;
  --hover-button: #abc41f;
  --footer-title-text: #fafafa;
  --color-border-modal: rgba(250, 250, 250, 0.1);
}

.footer {
  background-color: var(--background-footer);

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  padding-top: 64px;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

@media screen and (min-width: 375px) {
  .footer {
    min-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    min-width: 768px;
    padding-top: 84px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    min-width: 1440px;
    padding-top: 164px;
  }
}

.wrapper {
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .wrapper {
    width: 375px;
    padding: 32px 16px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 80px 32px;
    width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    width: 1440px;
    padding: 80px 196px;
  }
}

.container-footer {
  background-image: url(../images/footer/375px/footer-bg-375px-1x.png);
  background-repeat: no-repeat;
  background-position: right 0;
  background-size: 84px 552px;

  min-height: 552px;
}

@media screen and (min-width: 768px) {
  .container-footer {
    background-image: url(../images/footer/768px/footer-bg-768px-1x.png);
    background-repeat: no-repeat;
    background-position: right 0;
    background-size: 198px 636px;
    height: 636px;
  }
}

@media screen and (min-width: 1440px) {
  .container-footer {
    background-image: url(../images/footer/1440px/footer-bg-1440px-1x.png);
    background-repeat: no-repeat;
    background-position: right 0;
    background-size: 400px 636px;
  }
}

@media (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .container-footer {
    background-image: url(../images/footer/375px/footer-bg-375px-2x.png),
      url(../images/footer/375px/footer-bg-375px-3x.png);
  }
}

@media (min-width: 768px) and (min-resolution: 2dppx),
  (min-width: 768px) and (min-resolution: 192dpi) {
  .container-footer {
    background-image: url(../images/footer/768px/footer-bg-768px-2x.png),
      url(../images/footer/768px/footer-bg-768px-3x.png);
  }
}

@media (min-width: 1440px) and (min-resolution: 2dppx),
  (min-width: 1440px) and (min-resolution: 192dpi) {
  .container-footer {
    background-image: url(../images/footer/1440px/footer-bg-1440px-2x.png),
      url(../images/footer/1440px/footer-bg-1440px-3x.png);
  }
}

.wrapper-footer {
  display: flex;

  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .wrapper-footer {
    margin-bottom: 10px;
  }
}

.footer-img {
  border: 1px solid inherit;
  border-radius: 12px;

  width: 44px;
  height: 44px;
}

@media screen and (min-width: 768px) {
  .footer-img {
    width: 70px;
    height: 70px;
  }
}

.footer-pre-title {
  color: var(--footer-title-text);

  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  margin-left: 7px;
}

@media screen and (min-width: 768px) {
  .footer-pre-title {
    font-size: 64px;

    margin-left: 20px;
  }
}

.footer-span {
  color: var(--span-text);
}

.footer-title {
  color: var(--footer-title-text);

  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  margin-bottom: 63px;
}

@media screen and (min-width: 768px) {
  .footer-title {
    font-size: 64px;

    margin-bottom: 64px;
  }
}
.footer-form {
  position: relative;
}

@media screen and (min-width: 768px) {
  .footer-form {
    display: flex;
    align-items: center;

    margin-bottom: 78px;
  }
}

.input-email {
  color: var(--footer-title-text);
  background-color: var(--background-footer);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;

  border: none;
  border-bottom: 1px solid var(--input-border);
  padding: 0 0 20px 0;
  outline: none;

  width: 343px;

  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .input-email {
    width: 245px;

    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .input-email {
    width: 390px;

    margin-bottom: 0;
  }
}

.input-commit {
  color: var(--footer-title-text);
  background-color: var(--background-footer);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;

  border: none;
  border-bottom: 1px solid var(--input-border);
  padding-bottom: 20px;
  outline: none;

  width: 343px;
  padding: 0 0 20px 0;

  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .input-commit {
    width: 245px;

    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .input-commit {
    width: 390px;

    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .input-commit:not(:first-child) {
    margin-left: 32px;
  }
}

.input-email::placeholder,
.input-commit::placeholder {
  color: var(--email-teil-text);
}

.input-email:focus,
.input-commit:focus {
  border-bottom: 1px solid var(--footer-title-text);
}

.footer-button {
  color: var(--footer-title-text);
  background-color: #c6e327;

  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;

  border-radius: 50%;
  border: 1px solid #c6e327;
  width: 100px;
  height: 100px;
  padding: 0;

  margin-bottom: 63px;
}

@media screen and (min-width: 768px) {
  .footer-button {
    width: 150px;
    height: 150px;

    margin-bottom: 0px;
    margin-left: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-button {
    margin-left: 64px;
  }
}

.footer-button:hover {
  background-color: var(--hover-button);
}
.footer-list {
  display: flex;
}
@media screen and (min-width: 768px) {
  .footer-item {
    padding: 10px 0;
  }
}

.footer-item:not(:first-child) {
  margin-left: 4px;
}

@media screen and (min-width: 768px) {
  .footer-item:not(:first-child) {
    margin-left: 8px;
  }
}

.footer-link {
  color: var(--footer-title-text);

  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;

  border: 1px solid var(--input-border);
  padding: 10px 12px;
  border-radius: 60px;
}

.footer-link:hover {
  border: 1px solid var(--footer-title-text);
}

/* Status */

.footer-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* .js-inputEmail {
  position: relative;
} */

.status-text {
  position: absolute;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;

  display: none;

  top: 45px;
}

@media screen and (min-width: 768px) {
  .status-text {
    top: 100px;
  }
}

/* Modal footer */

.footer-modal {
  background-color: #1c1d20;

  border: 1px solid var(--color-border-modal);
  border-radius: 20px;
  padding: 64px 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 343px;
  height: 276px;
}

@media screen and (min-width: 768px) {
  .footer-modal {
    width: 492px;
    height: 246px;

    padding: 64px;
  }
}

.footer-title-modal {
  color: var(--footer-title-text);

  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;

  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .footer-title-modal {
    min-width: 375px;
  }
}

.footer-text-modal {
  color: var(--email-teil-text);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;

  width: 279px;
}

@media screen and (min-width: 768px) {
  .footer-text-modal {
    width: 364px;
  }
}

.footer-button-modal {
  background-color: inherit;
  border: none;

  position: absolute;

  top: 20px;
  right: 20px;
}

.close-button-svg {
  fill: var(--footer-title-text);
}

@media screen and (min-width: 768px) {
  .close-button-svg {
    width: 12px;
    height: 12px;
  }
}

/* fix backdrop */

.modal-open {
  overflow: hidden;
}
