.header-page {
    display: none;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    
    
   
    
}
.jefferson img {
    width: 80px; 
    height: 80px; 
    object-fit: cover; 
}
.container {
  margin: 0 auto;
    
}

.header-container {
    
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.5);
   
   
}
.all {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    padding: 20px 20px;
}

.jefferson {
    display: flex;
    flex-direction: row;
    
}
.all {
  
}
.nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none; 
}

.project {
    display: none;
}
.menu {
    display: none;
}
.nav {
    justify-content: center;
}

@media screen and (min-width: 375px) {
    .container {
        
    }
}

@media screen and (min-width: 768px) {
    .nav ul {
        display: none;
        flex-direction: column;
    }

    .nav ul li {
        display: block;
        margin-right: 0;
    }

    .burger-modal-window {
        display: none;
    }

    .button-active {
        background-color: #ed3b44;
        width: 163px;
        height: 55px;
        border: none;
        border-radius: 50px;
        color: black;
    }

    .menu {
        text-decoration: underline;
        display: block;
    }

    .project {
        display: flex;
    }

    
}
@media screen and (min-width: 1440px) {
    .container {
padding: 0 32px;
    }
}