.header{
    background: transparent;
   }
   .header-nav{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       padding-top: 32px;
       position: absolute;
       width: 375px;
   }
   .logo-wrapper{
       position: relative;
   cursor: pointer;
   }
   .logo-text{
       position: absolute;
       left: 85px;
       top: 2px;
   }
   .menu-btn{
       border: none;
       background-color: transparent;
      padding: 0;
      height: 28px;
       display: flex;
       justify-content: center;
       align-items: center;
   }
   .mobile-modal{
       display: flex;
       justify-content: center;
       align-items: center;
       width: 100%;
       height: 100%;
       position: fixed;
       top: 0;
       left: 0;
       z-index: 99999999;
       background-image: url(../images/background-theme/Hero-bg.png);
       background-repeat: no-repeat;
       background-position: -302px -33px;
       background-size: 1075px 902px;
       opacity: 0;
       visibility: hidden;
       transform: translateX(100%);
       pointer-events: none;
       transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.4, 0, 0.2, 1) ; 
   
   }   
   .mobile-modal.is-open{
       opacity: 1;
       visibility: visible;
       pointer-events: auto;
       transform: translateX(0);
   }
   .close-btn{
       position: absolute;
   top: 32px;
   right: 16px;
       border: none;
       background-color: transparent;
      padding: 0;
      height: 28px;
       display: flex;
       justify-content: center;
       align-items: center;
   }
   
   .modal-nav{
       display: flex;
       justify-content: center;
       align-items: center;
   flex-direction: column;
   text-align: center;
   gap: 12px;
   color:  #FAFAFA;
   }
   .modal-nav-item{
       font-weight: 500;
       font-size: 16px;
       letter-spacing: -0.02em;
       text-decoration: underline;
       text-decoration-skip-ink: none;
       cursor: pointer;
   }
   .order-btn{
       position: absolute;   
       font-weight: 500;
       font-size: 16px;
       letter-spacing: -0.02em;
       border-style: none;  
       color: #FAFAFA;
       border-radius: 60px;
       width: 164px;
       height: 40px;
       background-color: #ED3B44;
      padding: 0;
       display: flex;
       justify-content: center;
       align-items: center;  
       letter-spacing: 0;
   bottom: 32px; 
   }
   @media screen and (min-width: 375px) {
       .container {
           margin: 0 auto;
       }
   }
   @media screen and (min-width: 768px) {
   .burger-icon{
       display: none;
   }
   }