.header{
    background: transparent;
   }
   .header-nav{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       padding-top: 32px;
       position: absolute;
       width: 375px;
       
   }
   .hide {
    display: none;
   }
   .logo-wrapper{
       position: relative;
   cursor: pointer;
  
   }
   .logo-text{
       position: absolute;
       left: 85px;
       top: 2px;
   }
   .menu-btn{
       border: none;
       background-color: transparent;
      padding: 0;
      height: 28px;
       display: flex;
       justify-content: center;
       align-items: center;
   }
   .mobile-modal{
       display: flex;
       justify-content: center;
       align-items: center;
       width: 100%;
       height: 100%;
       position: fixed;
       top: 0;
       left: 0;
       z-index: 99999999;
       background-image: url(../images/background-theme/Hero-bg.png);
       background-repeat: no-repeat;
       background-position: -302px -33px;
       background-size: 1075px 902px;
       opacity: 0;
       visibility: hidden;
       transform: translateX(100%);
       pointer-events: none;
       transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.4, 0, 0.2, 1) ; 
   
   }   
   .mobile-modal.is-open{
       opacity: 1;
       visibility: visible;
       pointer-events: auto;
       transform: translateX(0);
   }
   .close-btn{
       position: absolute;
   top: 32px;
   right: 16px;
       border: none;
       background-color: transparent;
      padding: 0;
      height: 28px;
       display: flex;
       justify-content: center;
       align-items: center;
   }
   .modal-nav{
       display: flex;
       justify-content: center;
       align-items: center;
   flex-direction: column;
   text-align: center;
   gap: 12px;
   color:  #FAFAFA;
   }
   .modal-nav-item{
       font-weight: 500;
       font-size: 16px;
       letter-spacing: -0.02em;
       text-decoration: underline;
       text-decoration-skip-ink: none;
       cursor: pointer;
       
   }
   .menu:hover{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.4, 0, 0.2, 1) ; 
    color: #c6e327;
   } 
   .menu-list li:hover{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.4, 0, 0.2, 1) ; 
color: #c6e327;
text-decoration: underline;
   }
   .modal-nav-item:hover{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.4, 0, 0.2, 1) ; 
color: #c6e327;
   }
   .order-btn{
       position: absolute;   
       font-weight: 500;
       font-size: 16px;
       letter-spacing: -0.02em;
       border-style: none;  
       color: #ffffff;
       background-color: #c6e327;
    width: 163px;
    height: 55px;
    border: none;
    border-radius: 60px;
      padding: 0;
       display: flex;
       justify-content: center;
       align-items: center;  
       letter-spacing: 0;
   bottom: 64px;
   }
   .order-btn:hover{
    background-color: #abc41f;
   }
.nav {
    display: none;
}
.project {
    display: none;
}
.menu {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 8px;
}
.menu-list{
    display: flex;
    justify-content: center;
    align-items: center;
flex-direction: column;
text-align: center;
opacity: 0;
       visibility: hidden;
       pointer-events: none;
       transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.4, 0, 0.2, 1) ;
color: #FAFAFA;
}
.menu-list.open{
    opacity: 1;
       visibility: visible;
       pointer-events: auto;
}
.button-active {
    display: none;
}
.button-active:hover{
    background-color: #abc41f;
   }
   @media screen and (min-width: 375px) {
       .container {
           margin: 0 auto;
       }  
   }
   @media screen and (min-width: 768px) {
   .burger-icon{
       display: none;
   }
   .container {
    padding: 0 32px;
    width: 768px;
   }
   .header-nav {
    flex-direction: row; 
    width: 704px;
}
.logo-wrapper {
flex-direction: row;
width: 768px;
display: flex;
justify-content: space-between;
 }
   .nav {
    display: block;
   }
   .project {
    display: block;
   }
   .button-active {
    background-color: #c6e327;
    width: 163px;
    height: 55px;
    border: none;
    border-radius: 60px;
    color: #ffffff;
    display: block;
padding: 18 24 18 24;
 }
 }
   @media screen and (min-width: 1440px) {
    .container {
width: 1440px;
    }
    .logo-wrapper {
        width: 1376px;
 }
  .header-nav {
       width: 1376px;
       padding-top: 32px;
    }
}