
.project-container {
    overflow: hidden;
}

/* ================ MOBILE PROJECTS ================ */

#projects-section {
    padding: 32px 0;
}

.projects-section-title {
    color: rgba(250, 250, 250, 0.4);
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.05em;
    text-transform: uppercase;
}

.projects-list {
    margin-top: 32px;
}

.projects-list-item {
    display: flex !important;
    flex-direction: column;
}

.project-description {
    padding: 32px;
    background: rgb(250, 250, 250);
    border-radius: 24px 24px 0px 0px;
    display: flex;
    flex-direction: column;
    height: 406px;
}

.project-tech-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 6px;
    align-content: start;
    flex-grow: 1;
}

.project-tech-list-item {
    border: 1px solid rgba(28, 29, 32, 0.2);
    border-radius: 60px;
    padding: 13px 18px;
    color: rgb(28, 29, 32);
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: -0.05em;
}

.project-title {
    color: rgb(28, 29, 32);
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: -0.05em;
    max-width: 270px;
}

.project-link {
    display: inline-block;
    color: rgb(250, 250, 250);
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: -0.05em;
    padding: 13px 32px;
    border-radius: 60px;
    background: rgb(237, 59, 68);
    margin-top: 25px;
    align-self: flex-start;
}

.project-link:hover {
    background: rgb(224, 55, 63);
    cursor: pointer;
}

.project-cover {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(36, 37, 39);
    border-radius: 0px 0px 24px 24px;
    padding: 100px 16px;
}

.projects-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 32px;
}

.project-pagination-btn {
    width: 52px;
    height: 52px;
    background-color: transparent;
    border: 1px solid #fafafa;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-pagination-btn:disabled {
    border-color: #3B3B3B;
}

.project-pagination-btn:disabled .project-pagination-arrow {
    stroke: #3B3B3B;
}

.project-pagination-arrow {
    width: 24px;
    height: 24px;
    fill: none;
    stroke: #fafafa;
}


/* ================ /MOBILE PROJECTS ================ */


/* ================ TABLET PROJECTS ================ */

@media (min-width: 768px) {

    #projects-section {
        padding: 47px 0;
    }

    .project-description {
        padding: 64px;
        height: 596px;
    }

    .project-tech-list-item {
        padding: 18px;
    }

    .project-title {
        font-size: 44px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -0.05em;
        max-width: 495px;
    }

    .project-link {
        padding: 18px 50px;
        border-radius: 60px;
        margin-top: 35px;
    }

    .prev-project-arrow, .next-project-arrow {
        width: 32px;
        height: 32px;
    }

    .project-cover {
        padding: 120px 45px;
    }

    .projects-pagination {
        margin-top: 64px;
        gap: 20px;
    }

    .project-pagination-btn {
        width: 68px;
        height: 68px;
    }
}

/* ================ /TABLET PROJECTS ================ */

/* ================ 1440px DESKTOP PROJECTS ================ */

@media (min-width: 1440px) {
    #projects-section {
        padding: 82px 0;
    }

    .projects-list-item {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .project-description {
        padding: 64px;
        height: 625px;
        border-radius: 24px 0px 0px 24px;
        width: 50%;
    }

    .project-cover {
        padding: 120px 37px;
        border-radius: 0px 24px 24px 0px;
        width: 50%;
    }
}

/* ================ /1440px DESKTOP PROJECTS ================ */