/* ==========================MOBILE ========================== */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container-reviews {
  padding-top: 32px;
  padding-bottom: 32px;
}

.review-top {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

.gallery {
  padding-top: 32px;
  padding-bottom: 32px;
}

.swiper {
  width: 343px;
  height: 442px;
}

.gallery-image {
  border-radius: 10px;
  width: 48px;
  height: 48px;
  margin-bottom: 32px;
}

.gallery-item {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  width: 332px;
  height: 302px;
  overflow-x: auto;
}

.author {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.review {
  margin-bottom: 32px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

#swiper-button-prev {
  position: absolute;
  top: 99%;
  margin-left: 100px;
  transform: translateY(-50%);
  display: block;
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
  stroke: #ffffff;
  fill: none;
  background-color: transparent;
  color: transparent;
}

#swiper-button-next {
  position: absolute;
  top: 99%;
  margin-right: 100px;
  transform: translateY(-50%);
  display: block;
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
  stroke: #ffffff;
  background-color: transparent;
  fill: none;
  color: transparent;
}

#swiper-wrapper {
  height: auto;
}

/* ==========================MOBILE ========================== */

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .swiper {
    width: 704px;
    height: 458px;
  }
  #swiper-button-prev {
    top: 99%;
    margin-left: 280px;
  }

  #swiper-button-next {
    top: 99%;
    margin-right: 280px;
  }

  .gallery {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

@media screen and (min-width: 1440px) {
  .swiper {
    width: 1376px;
    height: 458px;
  }
  #swiper-button-prev {
    top: 99%;
    margin-left: 616px;
  }

  #swiper-button-next {
    top: 99%;
    margin-right: 616px;
  }
}
