/* .container {
    width: 375px;
    background: #1c1d20;
    padding-bottom: 50px;
} */


.review-top {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.4);
    margin-bottom: 32px;
}


.swiper {
    background: #1c1d20;
    width: 343px;
    height: 442px;
}

.gallery-image {
    border-radius: 10px;
    width: 48px;
    height: 48px;
    margin-bottom: 32px;
}

.gallery-item {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 20px;
    padding: 32px 24px;
    width: 343px;
    height: 302px;
}

.author {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.review {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.6);
}

.swiper-button-prev {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    display: block;
    border: 1px solid rgba(250, 250, 250, 0.5);
    border-radius: 60px;
    padding: 14px;
    width: 52px;
    height: 52px;
    background-color: transparent;
    color: transparent;
}


.swiper-button-next {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: block;
    border: 1px solid rgba(250, 250, 250, 0.5);
    border-radius: 60px;
    padding: 14px;
    width: 52px;
    height: 52px;
    color: transparent;
}

.swiper-wrapper {
    height: auto;
}